<!DOCTYPE html>
<html lang="en-US">

<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button> 
                <%= link_to home_index_path ,:class=>"navbar-brand" do %>
                   <span class="glyphicon glyphicon-home"> Home</span>
                <% end -%>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                         <%= link_to categories_path do%>
                           <span class="glyphicon glyphicon-list-alt"> Categories</span>
                        <% end -%>
                    </li>
                    <li>
                         <%= link_to posts_path do%>
                           <span class="glyphicon glyphicon-pencil"> Posts</span>
                        <% end -%>
                    </li>
                    <li>
                        <%= link_to about_index_path do%>
                           <span class="glyphicon glyphicon-eye-open"> About</span>
                        <% end -%>
                    </li>
                    <% if current_user %>
                    <li>
                        <%= link_to edit_user_registration_path do%>
                            <span class="glyphicon glyphicon-user"> Edit perfil</span>
                        <% end -%>
                    </li>
                    <li>
                        <%= link_to destroy_user_session_path, method: :delete do%>
                            <span class="glyphicon glyphicon-log-out"> Logout</span>
                        <% end -%>
                    </li>
                    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Settings<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><%= link_to "Create a new post." , new_post_path %></li>
                        <li><%= link_to "Create a new category." , new_category_path %></li>
                      </ul>
                    </li>
                    <%else%>
                    <li>
                        <%= link_to new_user_registration_path do%>
                           <span class="glyphicon glyphicon-user"> Sign up</span>
                    <% end -%>
                    </li>
                    <li>
                        <%= link_to new_user_session_path do%>
                            <span class="glyphicon glyphicon-log-in"> Login</span>
                        <% end -%>
                    </li>
                    <%end%>
                    <% if current_user != nil %>
                    <li>
                     <p class="navbar-text navbar-right">Welcome <%= current_user.email %></p>
                    </li>
                    <%end%>
                  </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">
                    Categories
                </h1>
                <% @categories.each do |category| %>
                <!-- First Blog Post -->
            <div class="panel panel-default">
              <div class="panel-body">
                <h2>
                    <%= link_to category.name, category %>
                    <span class="badge"><%= Post.where(category_id: category.id).count %></span>
                </h2>

                <p><span class="glyphicon glyphicon-time"></span> <%= category.created_at.strftime("%B %d, %Y") %></p>
                <hr>
                <img class="img-responsive" src="http://lorempixel.com/900/300/" alt="">
                <hr>
                <%= link_to 'Meet all post of this category', category ,:class=>"btn  btn-primary"%>
             </div>
            </div>
                <hr>
                <% end -%>
                <!-- Pager -->
                <%= will_paginate @categories, renderer: BootstrapPagination::Rails %>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Blog Search</h4>
                   <div class="form-group">                    
                    <%= form_tag(search_index_path, :method => :get) do %>
                    <div class="field">
                     <%= text_field_tag 'search', nil, placeholder: 'Enter a post title to search ...', :class => 'form-control'%>
                     </div><br />
                     <div class="action">
                     <%= submit_tag "Search", :class => 'btn btn-default'%>
                     </div>
                    <% end %>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Blog Categories</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <table>

                              <tbody>
                                <% @categoryAll.each do |category| %>
                                  <tr>
                                    <td><%= link_to category.name, category %></td>
                                  </tr>
                                <% end %>
                              </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Blog authors Well -->
                <div class="well">
                    <h4>Blog Authors</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <table>

                              <tbody>
                                <% @users.each do |user| %>
                                  <tr>
                                    <td><%= link_to user.email, new_user_session_path %></td>
                                  </tr>
                                <% end %>
                              </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>

            </div>

        </div>
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Ruby Blog 2015</p>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

</body>

</html>